$heading-color: #333d3f;
$control-color: $heading-color;
$slidenumbg-color: #FFFFFF;
$slidenum-color: $heading-color;
$footerborder-color: $heading-color;
$footer-color: $heading-color;
$footerbg-color: #c7c7c7;
$src-border-color: #bdbdbd;
$src-color: #1c1c1c;
$src-bg-color: #fafafa;
$warning-color: #df0101;
$caution-color: #df7401;
$important-color: #8A0808;
$note-color: #21610B;
$tip-color:#0B2161;
$font0: Roboto; // panagenda default
$font1: "Source Sans Pro";
$font2: Helvetica;
$font-family: sans-serif;
$font-mono0: "Source Code Pro";
$font-mono-family: monospace;
