$heading-color: #333d3f;
$control-color: $heading-color;
$slidenumbg-color: #FFFFFF;
$slidenum-color: $heading-color;
$footerborder-color: $heading-color;
$footer-color: $heading-color;
$footerbg-color: #c7c7c7;
